{% extends "base.html" %}
{% block content %}
    <div class="row">
        <h1>Ой!</h1>
    </div>
    <div class="row">
        <h3>{{ message }}</h3>
    </div>
    <div class="row">
        <h5>
            <a class="text-decoration-none text-dark" href="#" onclick="history.back(-1)">Но вы можете вернуться назад</a>
        </h5>
    </div>
    <div class="row">
        <h5>
            <a class="text-decoration-none text-dark" href="/">Или перейти на главную</a>
        </h5>
    </div>
{% endblock %}
