{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <h4>Last Videos</h4>
            <div class="container">
                <div class="row">
                    {% for vid in last_videos %}
                    <div class="col-sm">
                        <a href="/video/{{ vid.id }}"><img src="static/pre/{{ vid.id }}.jpg" style="width: 100%"></a>
                        <p><a class="link-dark" href="/video/{{ vid.id }}">{{ vid.title }}</a> - <a class="link-dark" href="/user/{{ db_sess.query(User).filter(User.id == vid.author).first().id }}">{{ db_sess.query(User).filter(User.id == vid.author).first().name }} {{ db_sess.query(User).filter(User.id == vid.author).first().surname }}</a></p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <h4>Best Videos</h4>
            <div class="container">
                <div class="row">
                    {% for vid in best_videos %}
                    <div class="col-sm">
                        <a href="/video/{{ vid.id }}"><img src="static/pre/{{ vid.id }}.jpg" style="width: 100%"></a>
                        <p><a class="link-dark" href="/video/{{ vid.id }}">{{ vid.title }}</a> - <a class="link-dark" href="/user/{{ db_sess.query(User).filter(User.id == vid.author).first().id }}">{{ db_sess.query(User).filter(User.id == vid.author).first().name }} {{ db_sess.query(User).filter(User.id == vid.author).first().surname }}</a></p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <h4>Worst Videos</h4>
            <div class="container">
                <div class="row">
                    {% for vid in worst_videos %}
                    <div class="col-sm">
                        <a href="/video/{{ vid.id }}"><img src="static/pre/{{ vid.id }}.jpg" style="width: 100%"></a>
                        <p><a class="link-dark" href="/video/{{ vid.id }}">{{ vid.title }}</a> - <a class="link-dark" href="/user/{{ db_sess.query(User).filter(User.id == vid.author).first().id }}">{{ db_sess.query(User).filter(User.id == vid.author).first().name }} {{ db_sess.query(User).filter(User.id == vid.author).first().surname }}</a></p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
